.demo
{
    height: 82px;
}
.body
{
    margin: 0%;
}
#color1
{
    background-color: orange;
}
#color2
{
    background-color: whitesmoke;
}
#color3
{
    background-color: green;
}

.circle
{
    height: 100px;
    width: 100px;
    border-radius: 50%;
}
#color4
{
    background-color: red;
}
#color5
{
    background-color: orange;
}
#color6
{
    background-color: green;
}
.stand
{
    width: 100px;
    background-color: black;
}


